@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* navbar*/
#side {
    float:left;
    width: 25%;
    top:0;
    bottom:0;
    padding: 0;
    margin:0;
    background-color: #3c7ee4;
}


/* The list*/
.navy {
    display: block;
    list-style: none !important;
    margin: 20% 0 1% 18%;
    padding: 0 0 2% 0;
}

.navy-link {
    font-family: Montserrat;
    font-size: 1.7vw;
    float: left;
    position: relative;
    padding: 20px 0 0 0;
}

.navy-link a {
    padding: 0 0 0 0;
    text-decoration: none !important;
    color: white;
}

.side-category {
    display: block;
    list-style: none !important;
    margin: 3% 0 1% 0;
    padding: 0 0 2% 0;
}

.project-name {

    font-family: Cuprum;
    font-size: 1.2vw;
    float: right;
    position: relative;
    padding: 20px 15px 0 5px !important;
}

.heads {
    float:right;
}
svg {
    float:left;
    margin: 0;
    padding: 0 0 1% 0;
}


#tabula {
    margin:0 !important;
    padding: 0 !important;
    position: relative;
    display: block;

}


.project-image {
    margin:0 0 1% 3%;
    display: inline-flex;
    width: 80%;
    height: 30%;
}

.descriptions {
    padding: 10% 10% 0 5%;
    margin:0;
    font-size: 1.4vw;
    font-family: Lato;
}

.description-container {
    display: none;
}


#contacts {
    margin: 5% 0 0 30%;
}

#contacts svg {
    position:relative;
    margin: 5% 0 0 10%;
}

#pictures-3rd, #pictures-games, #pictures-4th, #pictures-hatch, #pictures-website {
    display: none;
}


.intro {
    padding: 10% 10% 0 5%;
    margin:0;
    text-align: start;
    font-size: 1.4vw;
    font-family: Roboto Mono;
}

.museumvideo {
    margin: 5% 0 1% 3%;
}

.btns {
    margin: 10% 1% 5% 6%;
    background-color: #da8c73;
}

#button-website {
    margin: 5% 0 0 30%;
}

#button-3rd {
    margin: 5% 0 0 30%;
}

#button-4th {
    margin: 5% 0 0 30%;
}

#button-games1 {
    margin-left:10%;
}

#project-image-1, #project-image-2, #project-image-3, #project-image-4 {
    position: relative;
    display: inline-block;
    height: 90%;
    width: 90%;
}


.githubs {
    margin: 5% 0 1% 40%;
}

.neu-images {
    margin: 10% 0 2.5% 15%;
}